{% extends 'main.html' %}

{%block content %}
<div class="search">
    <form action="{% url 'profiles' %}" method="get">
        <label for="formusersearch" >Search Users</label>
        <input type="text" name="search_query" value="{{search_query}}" id="formusersearch" placeholder="Search User">
        <input type="submit" value="Search">
    </form>
</div>


<table border="1">
    <tr>
        <td>Name</td>
        <td>Email</td>
        <td>Username</td>
        <td>User Type</td>
        <td colspan="2">operations </td>
    </tr>
    {% for profile in profiles %}
    <tr>
        <td> {{profile.name}}</td>
        <td> {{profile.email}}</td>
        <td> {{profile.username}}</td>
        <td> {{profile.user_type}}</td>
        <td><a href="{% url 'user-profile' profile.id %}">View User Profile</a></td>
        <td> <a href="{% url 'edit-account' %}">Edit account</a></td>
    </tr>
    {% endfor %}
</table>



{% endblock content %}